/* background */
/* After removing background */
/*html body {
  overflow: scroll;
}
*/

#projects_background {
  /*background-image: url("../images/projects/red_bull.jpg");*/
  /*opacity: 0.8;*/
  background-size: cover;
  opacity: 0.5;
}

.content {
  /*text-decoration-color: white;*/
  color: white;
  margin-left: 150px;
}

.header {
  height:128px;
}

/* content txt */
.txt p {
  height:12px; margin-bottom:15px;
/*  font-family: 'Old Standard TT', serif;
  font-size: 20px;*/
  font-family: 'Old Standard TT', serif; font-weight: 200;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

p a {
  font-family: 'Old Standard TT', serif; font-weight: 400;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.gallery_pic {
  border-radius: 5%;
  overflow: scroll;
}

.floated_img {
  display: flex;
  flex-wrap: wrap;
  float: left;
}
