/* background */
/* After removing background */
/*html body {
  overflow: scroll;
}
*/

#projects_background {
  background-image: url("../images/projects/red_bull.jpg");
  /*opacity: 0.8;*/
  background-size: cover;
  opacity: 0.5;
}

.content {
  /*text-decoration-color: white;*/
  color: white;
  margin-left: 150px;
}

.header {
  height:128px;
}

/* content txt */
.txt p {
  height:12px; margin-bottom:15px;
/*  font-family: 'Old Standard TT', serif;
  font-size: 20px;*/
  font-family: 'Old Standard TT', serif; font-weight: 200;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

p a {
  font-family: 'Old Standard TT', serif; font-weight: 400;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.gallery_pic {
  border-radius: 5%;
  overflow: scroll;
}

.floated_img {
  display: flex;
  flex-wrap: wrap;
  float: left;
}

/*list*/

#rig {
  max-width:900px;
  margin:0 auto; /*center aligned*/
  padding:0;
  font-size:0; /* Remember to change it back to normal font size if have captions */
  list-style:none;
  background-color:none;
}
#rig li {
  display:inline-block;
  *display:inline;/*for IE6 - IE7*/
  width:25%;
  vertical-align:middle;
  box-sizing:border-box;
  margin:0;
  padding:0;
}

/* The wrapper for each item */
.rig-cell {
  margin: 0px;
  box-shadow:0 1px 4px rgba(0,0,0,0.4);
  padding:16px;
  border:none;
  color:#555;
  background-color:white;
  text-decoration:none;
  text-align:center;
  display:block;
  position: relative;
  overflow:hidden;
}

.rig-cell h3 {
  font-size:18px;
  font-family:'Oswald', sans-serif;
  font-weight:normal;
}

/* If have the image layer */
.rig-img {
  display:block;
  border:none;
  width:100%;
  height:0;
    padding-top:83.461538%;
    background-size:cover;
  background-color:white;
  background-image:url(img/web-ui.jpg);
    background-repeat:no-repeat;
  position:relative; /* Make its pseudo :after to be relative to it. */
}
.rig-img:after{
  position:absolute;
  top:20px;right:20px;bottom:20px;left:20px;
  border:1px solid #fff;
  content:'+';
  color:white;
  padding-top:14%;
  font-size:30px;
  opacity:0;
  filter:alpha(opacity=0);
  transition:all 0.3s;
  transform:scale(0);
}

#rig li:hover .rig-img:after {
  opacity:1;
  transform:scale(1);
}

/* If have the overlay layer */
.rig-overlay {
  position: absolute;
  display:block;
  top:0;left:0;bottom:0;right:0;
  margin:auto;
  background:white;
  background-size:50px 50px;
  opacity:0;
  filter:alpha(opacity=0);/*For older IE*/
  transition:all 0.3s;
}
#rig li:hover .rig-overlay {
  opacity:0.5;
}

@media (max-width: 9000px) {
  #rig li {width:25%;}
}

@media (max-width: 800px) {
  #rig li {width:33.33%;}
}

@media (max-width: 500px) {
  #rig li {width:50%;}
}

@media (max-width: 350px) {
  #rig li {width:100%;}
}
