/* background */
html body {
  overflow: scroll;
}

#projects_background {
  background-image: url("../images/projects/red_bull.jpg");
  /*opacity: 0.8;*/
  background-size: cover;
  opacity: 0.5;
}

.content {
  /*text-decoration-color: white;*/
  color: white;
  margin-left: 150px;
}

.header {
  height:128px;
}

/* content txt */
.txt p {
  height:12px; margin-bottom:15px;
/*  font-family: 'Old Standard TT', serif;
  font-size: 20px;*/
  font-family: 'Old Standard TT', serif; font-weight: 200;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

p a {
  font-family: 'Old Standard TT', serif; font-weight: 400;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.gallery_pic {
  border-radius: 5%;
  overflow: scroll;
}

/*Responsive Grid*/
/*body {
  width: 80%;
  margin: 30px auto;
  font-family: sans-serif;
}*/

/*h3 {
  text-align: center;
  font-size: 1.65em;
  margin: 0 0 30px;
}*/

/*div {
  font-size: 0;
}*/

/*a {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
  text-decoration: none;
  color: black;
}*/

/*a:nth-of-type(2n) {
  margin-right: 0;
}
*/
@media screen and (min-width: 50em) {
  a {
    width: calc(25% - 6px);
  }

  a:nth-of-type(2n) {
    margin-right: 8px;
  }

  a:nth-of-type(4n) {
    margin-right: 0;
  }
}

/*a:hover img {
  transform: scale(1.15);
}*/

a:hover img {
  transform: scale(1.15);
}

figure {
  margin: 0;
  overflow: hidden;
}

figcaption {
  margin-top: 15px;
}

img {
  border: none;
  max-width: 100%;
  border-radius: 2%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}

/*.p a {
  display: inline;
  font-size: 13px;
  margin: 0;
  text-decoration: underline;
  color: blue;
}

.p {
  text-align: center;
  font-size: 13px;
  padding-top: 100px;
}*/
