/* TODO: use less */
body {
  /* No scroll bar */
  overflow: hidden;
}

.fullscreen-bg {
    /*display: none;*/
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:0;
}

.img-responsive { background-size: cover; }

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../images/main/main_bk.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

/* Video operation */
.fade-in-video {
    opacity: 0;
    transition: opacity .8s linear;
}

.fade-in-video.is-playing {
    opacity: 1;
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}

/* Colors */
.white {
  color: white !important;
}

.blue {
  color: blue !important;
}

/* Position */
.alignCenter{
  align-items: center !important;
}

.center{
  display: block;
  text-align:center;
  justify-content: center;;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

/* Sub position */
/*#wrap {
  width:359px;
  height:533px;

  margin-left: auto;
  margin-right：auto;

  position:absolute; z-index:15; left:40%; top:85px;
}
*/
/*#wrap .wrap_con {
  display: none;
  background:url(images/landing_page/wrap.png) no-repeat left top;
  position:absolute; z-index:16; left:0; top:0;
  width:359px;
  height:533px;
}*/
/*#wrap .wrap_con div { width:179px; height:174px; display:block; }
#wrap .wrap_con div a { font-size:14px; text-align:center; color:#fff; height:50px; display:block; text-decoration:none; }
#wrap .wrap_con div a:hover { color:#a7aeba; }*/

#logo_wrap {
  opacity: 0.4;
  filter: alpha(opacity=50);
  position:relative; z-index:17; left:10px; top:10px;
  width:100px;
  height:100px;
}

/* pre-loader */
#preloader  {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #fefefe;
     z-index: 99;
    height: 100%;
 }

#status  {
     width: 200px;
     height: 200px;
     position: absolute;
     left: 50%;
     top: 50%;
     background-image: url("../loaders/hex-loader2.gif");
     background-repeat: no-repeat;
     background-position: center;
     margin: -100px 0 0 -100px;
 }

/* main
/* background */
#main_background {
  background-image: url("../images/main/main_bk.jpg");
  opacity: 0.7;
}

/* menu */
.content_menu_wrap_con .logo_wrap {
  margin-top:15px;
  margin-bottom: 10px;
}

.menu_content {
  position:absolute; z-index:11; display:block; left:0; top:0; width:184px; height:100%;
}

.content_menu_wrap { position:absolute; z-index:11; display:block; left:0; top:0; width:auto; height:auto;
background-color:#fff;
opacity:0.8; filter:alpha(opacity=80);
background:url(../images/menu/bg_white_1x1_85.png) repeat left top; width:100%; height:100%;
/*background:url(../images/menu/bg_left_menu_shadow.png) no-repeat left top;*/
}

/*#wrapper .menu .menu_content .content_menu_wrap .content_menu_wrap_con {*/
.content_menu_wrap .content_menu_wrap_con {
  margin-top:150px;
  width:120px;
  margin:0 20px;
  height:804px;
}

.menu .btn_main_menu {
  height:20px; margin-bottom:15px;
/*  font-family: 'Old Standard TT', serif;
  font-size: 20px;*/
  font-family: 'Old Standard TT'; font-weight: 700;
  font-size: 20px;
  color: black;
}

.btn_main_menu a {
  height:20px; margin-bottom:15px;
/*  font-family: 'Old Standard TT', serif;
  font-size: 20px;*/
  font-family: 'Old Standard TT', serif; font-weight: 400;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

/* three js experiments */

/*.canvas { width: 100%; height: 100% }*/
