 <div class="content_menu_wrap">
  <div class="content_menu_wrap_con">
    <table id="tb_menu" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td valign="middle">
            <div class="logo_wrap"><a href="javascript:void(0)"><img alt="" title="" width="80%" height="80%" src="images/landing_page/logo.png"></a></div>
              <div id="btn_menu_welcome" class="btn_main_menu" style="margin-bottom: 8px;"><a href="index.html">WELCOME</a></div>
              <div class="btn_main_menu" style="margin-bottom: 8px;"><a href="log.html">LOG</a></div>
              <div class="btn_main_menu" style="margin-bottom: 8px;"><a href="notes.html">NOTES</a></div>
              <div class="btn_main_menu" style="margin-bottom: 8px;"><a href="projects.html">PROJECT</a></div>
              <div class="btn_main_menu" style="margin-bottom: 8px;"><a href="hobby.html">HOBBY</a></div>
              <div id="btn_menu_contact" class="btn_main_menu" style="margin-bottom: 8px;"><a href="index.html">CONTACT</a></div>
          </td>
        </tr>

        <tr>
          <td><div style="border-bottom:1px dotted #333; height:1px;">&nbsp;</div></td>
        </tr>            
        <tr>
          <td valign="middle"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>  
